NODE_ENV=development
PORT=5000

DB_HOST=localhost
DB_PORT=5432
DB_USER=taskuser
DB_PASSWORD=stronpassword
DB_NAME=task_manager
# openssl rand -hex 32
JWT_SECRET=0044168740a272a7ac27041740921a6fcd391fc4348311bbb2da9b9c049996bb
